
body{
  text-align: center;
  width: 40%;
  margin: auto;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 54px;
  color: #D16D6A;
}

p {
  text-align: left;
  font-family: 'Poppins-Light', sans-serif;
}

.starterImage{
  width: 16em;
}


/* Title and Logo: */
font-family: Pacifico-Regular;
font-size: 54px;
color: #D16D6A;